<h1>Авторизация</h1>
<%= form_with model: @user, url: auth_path do |f| %>
  <div class = "mb-3">
    <%= f.label :Логин %><br>
    <%= f.text_field :login, class: "tfield"%>
  </div>
  <div class = "mb-3">
    <%= f.label :Пароль %><br>
    <%= f.password_field :password, class: "tfield" %>
  </div>
  <p>
    <%= f.submit 'Вход', class: "button" %>
  </p>
<% end %>