<h1>Регистрация</h1>
<%= form_with model: @user, url: sign_up_path do |form| %>
    <div>
        <% if @user.errors.any?%>
        <div class=”alert alert-danger”>
            <% @user.errors.full_messages.each do |message| %>
            <div><%= message %></div>
            <% end %>
        </div>
        <% end %>
    </div>
    <div class="mb-3">
        <%= form.label :login, "Логин" %><br>
        <%=form.text_field :login, class: "form-control form-control-lg", class: "tfield"%>
    </div>

    <div class="mb-3">
        <%= form.label :password, "Пароль" %><br>
        <%=form.text_field :password, class: "form-control form-control-lg", class: "tfield"%>
    </div>

    <div class="mb-3">
        <%= form.label :password_confirmation, "Подтверждение пароля" %><br>
        <%=form.text_field :password_confirmation, class: "form-control form-control-lg", class: "tfield"%>
    </div>
    <p>
        <%= form.submit "Регистрация", class: "button"%>
    </p>
<% end %>
    